<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")

    //- Favicon
    link(
      rel="shotcut icon"
      type='image/png'
      href='../../assets/img/favicon.png'
    )

    title Webpack Boilerplate | Sass and Pug

    script(src="svg4everybody.min.js")
    script.
      svg4everybody();

  body

    //- Navigation markup
    include ./navigation.pug

    //- Header markup
    include ./header.pug

    //- Main markup
    main
      block content
        p This is a dummy

    //- Footer markup
    include ./footer.pug