block footer
  footer.footer
    p.footer__copyright
      | Created by Souveek Kumar Bose. You are free to copy, use and distribute
      | the template for professional and personal uses but should not claim
      | that this webpack template is created by you. A credit to the original
      | author, Souveek Kumar Bose, is highly appreciated.