extends ../partials/base.pug

block content
  .profile
    figure.profile__figure
      img.profile__pic(src='../../assets/img/Souveek Bose 1514053 Casual.jpg')
      figcaption.profile__caption Hello to the world!
    .profile__content
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      | eiusmod tempor incididunt ut labore et dolore magna aliqua. Dictum
      | varius duis at consectetur lorem donec massa sapien. Tortor aliquam
      | nulla facilisi cras fermentum odio eu. Risus quis varius quam
      | quisque id diam vel quam elementum. Nibh mauris cursus mattis
      | molestie a iaculis at erat. Scelerisque fermentum dui faucibus in.
      | Vulputate mi sit amet mauris commodo quis imperdiet. Quam
      | adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus. Sed
      | lectus vestibulum mattis ullamcorper velit sed ullamcorper. Posuere
      | sollicitudin aliquam ultrices sagittis orci a scelerisque purus.
      | Dolor morbi non arcu risus quis varius quam. Amet consectetur
      | adipiscing elit ut aliquam. Ornare aenean euismod elementum nisi
      | quis eleifend quam. Nascetur ridiculus mus mauris vitae ultricies.
