// COLORS
$color-white: white;
$color-black: black;

$color-grey: #777;
$color-grey-dark: #444;
$color-grey-light: #777;

$color-primary: blue;

// LENGTHS
$grid-width: 114rem;
$gutter-vertical: 8em;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6em;

// FONT SIZES
$default-font-size: 1.6rem;