body {
  background-color: #444444;
  font-family: sans-serif;
}

.profile{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

img{
  border-radius: 100%;
  width: 300px;
  box-shadow: 0 0 20px black;
}

h1 {
  color: white;
  font-size: 5em;
  text-shadow: 0 0 20px blue;
}